*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, -apple-system, blinkmacsystemfont, "segoe ui", roboto,
    "helvetica neue", arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #212529;
  padding: 0;
  margin: 0;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
.h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

label {
  display: inline-block;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn * {
  vertical-align: middle !important;
}

.btn-primary {
  color: #fff;
  background-color: #2563eb;
  border-color: #2563eb;
}

.btn-success {
  color: #fff;
  background-color: #15803d;
  border-color: #15803d;
}

.btn-primary:focus {
  color: #fff;
  background-color: #1e40af;
  border-color: #2531eb;
  box-shadow: 0 0 0 0.15rem rgba(37, 99, 235, 1);
}

.btn-success:focus {
  color: #fff;
  background-color: #14532d;
  border-color: #143a53;
  box-shadow: 0 0 0 0.15rem rgba(22, 163, 74, 1);
}

.btn-primary:hover {
  color: #fff;
  background-color: #1e40af;
  border-color: #2531eb;
}

.btn-success:hover {
  color: #fff;
  background-color: #14532d;
  border-color: #143a53;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.container {
  width: 100%;
  padding-left: var(--gutter-x, 0.75rem);
  padding-right: var(--gutter-x, 0.75rem);
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #dc2626;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(224, 60, 60, 1);
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.form-check-input {
  width: 1.15em;
  height: 1.15em;
  margin-top: 0.45em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input[type="radio"] {
  border-radius: 50%;
}

.form-check-input:checked {
  background-color: #dc2626;
  border-color: #dc2626;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-check-label {
  cursor: pointer;
  margin-top: 0.25rem;
}

.g-3 {
  --gutter-x: 3rem;
  --gutter-y: 3rem;
}

.g-1 {
  --gutter-x: 1rem;
  --gutter-y: 1rem;
}

.ic {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
  vector-effect: non-scaling-stroke;
  stroke-width: inherit;
}

.ic-form {
  padding-left: 2rem;
  background-repeat: no-repeat;
  background-position: left calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.ic-pin-map {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 320 512'%3E%3Cpath d='M320 144C320 223.5 255.5 288 176 288C96.47 288 32 223.5 32 144C32 64.47 96.47 0 176 0C255.5 0 320 64.47 320 144zM192 64C192 55.16 184.8 48 176 48C122.1 48 80 90.98 80 144C80 152.8 87.16 160 96 160C104.8 160 112 152.8 112 144C112 108.7 140.7 80 176 80C184.8 80 192 72.84 192 64zM144 480V317.1C154.4 319 165.1 319.1 176 319.1C186.9 319.1 197.6 319 208 317.1V480C208 497.7 193.7 512 176 512C158.3 512 144 497.7 144 480z'/%3E%3C/svg%3E");
}

.ic-pix {
  background-image: url("data:image/svg+xml,%3Csvg width='296.761' height='296.761' viewBox='0 0 78.518 78.518' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M61.24 60.066c-3.08 0-5.978-1.2-8.156-3.377L41.307 44.912c-.827-.829-2.268-.826-3.095 0l-11.82 11.82a11.464 11.464 0 0 1-8.156 3.377h-2.32L30.83 75.024c4.658 4.658 12.211 4.658 16.87 0l14.957-14.958zM18.23 18.409c3.08 0 5.978 1.2 8.156 3.377l11.82 11.822a2.19 2.19 0 0 0 3.095-.001l11.777-11.778a11.463 11.463 0 0 1 8.156-3.377h1.419L47.695 3.494c-4.66-4.658-12.211-4.658-16.87 0L15.912 18.409z'/%3E%3Cpath d='m75.03 30.825-9.04-9.04c-.198.08-.414.13-.641.13h-4.11a8.123 8.123 0 0 0-5.706 2.365L43.757 36.057a5.636 5.636 0 0 1-3.997 1.653 5.637 5.637 0 0 1-3.997-1.652L23.942 24.237a8.121 8.121 0 0 0-5.707-2.365h-5.053c-.216 0-.417-.05-.607-.122L3.5 30.825c-4.659 4.659-4.659 12.211 0 16.87l9.075 9.074c.19-.072.391-.122.607-.122h5.053a8.122 8.122 0 0 0 5.707-2.364l11.82-11.82c2.136-2.135 5.86-2.136 7.995 0L55.533 54.24a8.123 8.123 0 0 0 5.706 2.364h4.11c.227 0 .443.05.642.13l9.039-9.04c4.658-4.658 4.658-12.21 0-16.869'/%3E%3C/g%3E%3C/svg%3E");
}

.ic-pin-dot {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 384 512'%3E%3Cpath d='M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z'/%3E%3C/svg%3E");
}

.ic-real-sign {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='12' height='12'%3E%3Cpath d='M400 .0003C417.7 .0003 432 14.33 432 32V50.22C444.5 52.52 456.7 56.57 468.2 62.3L478.3 67.38C494.1 75.28 500.5 94.5 492.6 110.3C484.7 126.1 465.5 132.5 449.7 124.6L439.5 119.5C429.6 114.6 418.7 112 407.6 112H405.9C376.1 112 352 136.1 352 165.9C352 187.9 365.4 207.7 385.9 215.9L437.9 236.7C482.7 254.6 512 297.9 512 346.1V349.5C512 400.7 478.4 444.1 432 458.7V480C432 497.7 417.7 512 400 512C382.3 512 368 497.7 368 480V460.6C352.1 457.1 338.6 450.9 325.7 442.3L302.2 426.6C287.5 416.8 283.6 396.1 293.4 382.2C303.2 367.5 323 363.6 337.8 373.4L361.2 389C371.9 396.2 384.6 400 397.5 400C425.4 400 448 377.4 448 349.5V346.1C448 324.1 434.6 304.3 414.1 296.1L362.1 275.3C317.3 257.4 288 214.1 288 165.9C288 114 321.5 69.99 368 54.21V32C368 14.33 382.3 0 400 0L400 .0003zM.0003 64C.0003 46.33 14.33 32 32 32H112C191.5 32 256 96.47 256 176C256 234.8 220.8 285.3 170.3 307.7L221.7 436.1C228.3 452.5 220.3 471.1 203.9 477.7C187.5 484.3 168.9 476.3 162.3 459.9L106.3 320H64V448C64 465.7 49.67 480 32 480C14.33 480 0 465.7 0 448L.0003 64zM64 256H112C156.2 256 192 220.2 192 176C192 131.8 156.2 96 112 96H64V256z'/%3E%3C/svg%3E");
}

.ic-shop {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 640 512'%3E%3Cpath d='M0 155.2C0 147.9 2.153 140.8 6.188 134.7L81.75 21.37C90.65 8.021 105.6 0 121.7 0H518.3C534.4 0 549.3 8.021 558.2 21.37L633.8 134.7C637.8 140.8 640 147.9 640 155.2C640 175.5 623.5 192 603.2 192H36.84C16.5 192 .0003 175.5 .0003 155.2H0zM64 224H128V384H320V224H384V464C384 490.5 362.5 512 336 512H112C85.49 512 64 490.5 64 464V224zM512 224H576V480C576 497.7 561.7 512 544 512C526.3 512 512 497.7 512 480V224z'/%3E%3C/svg%3E");
}

.ic-user {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 448 512'%3E%3Cpath d='M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z'/%3E%3C/svg%3E");
}

.mt-0_1 {
  margin-top: 0.1rem !important;
}

.mb-1_5 {
  margin-bottom: 1.5rem !important;
}

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-1_5 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.py-1_5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}

.title {
  font-size: 2.5rem;
  display: block;
  line-height: 0;
}

.logo {
  width: 10rem;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #dc2626;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4,
  .h4 {
    font-size: 1.5rem;
  }
}
